numpy>=1.22.2
djangorestframework
beautifulsoup4
django-cors-headers
bs4
certifi
Django
decorator
django-jazzmin
fastapi>=0.109.1
django-storages[boto3]
boto3
django-storages
pycountry
ffmpy
filelock
requests[socks]
djangorestframework-simplejwt
fonttools>=4.43.0
fsspec
django-countries
django-redis
boto3
greenlet
h11
httpcore
httpx
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
dj-database-url
pandas
pillow>=10.3.0
proglog
psycopg
pydantic
pydantic_core
regex
requests
rich
textstat
tomlkit
toolz
tqdm
aiohttp>=3.9.4 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
