{% extends 'base.html' %}

{% block title %}Edit Profile - Film Fluency{% endblock %}

{% block content %}
<div class="profile-page-container">
    <form id="profileForm" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
    <div class="profile-cover" style="background-image: url('{{ user_profile.cover_picture.url }}');">
        <!-- Cover Edit Icon -->
        <div class="cover-edit-icon" onclick="document.getElementById('cover-upload').click();">
            <i class="bi bi-pencil"></i>
        </div>
        <input type="file" id="cover-upload" style="display: none;" onchange="changeCover(this)"/>
    </div>
    <div class="profile-avatar-container">
        <img src="{{ user_profile.profile_picture.url }}" alt="Avatar" class="profile-avatar">
        <!-- Avatar Edit Icon -->
        <div class="avatar-edit-icon" onclick="document.getElementById('avatar-upload').click();">
            <i class="bi bi-pencil"></i>
        </div>
        <input type="file" id="avatar-upload" style="display: none;" onchange="changeAvatar(this)"/>
    </div>
    
    <div class="mb-3">
        <label for="id_country" class="form-label">Country</label>
        <select class="form-select" id="id_country" name="country">
            <optgroup label="Middle East">
                {% for country_code, country_name in middle_east_countries %}
                <option value="{{ country_code }}" {% if country_code == user_profile.country %}selected{% endif %}>
                    {{ country_name }}
                </option>
                {% endfor %}
            </optgroup>
            <optgroup label="Other Countries">
                {% for country_code, country_name in other_countries %}
                <option value="{{ country_code }}" {% if country_code == user_profile.country %}selected{% endif %}>
                    {{ country_name }}
                </option>
                {% endfor %}
            </optgroup>
        </select>
    </div>

    <!-- Additional fields here, manually handled as needed -->
    <div class="mb-3">
        <label for="id_bio" class="form-label">Bio</label>
        <textarea class="form-control" id="id_bio" name="bio">{{ user_profile.bio }}</textarea>
    </div>
    <div class="text-center submit-btn-container">
        <button type="submit" class="btn submit-btn btn-lg">Save Changes</button>
    </div>
    
    </form>
{% endblock %}

{% block extra_css %}
<style>
    .submit-btn-container {
        margin-top: 50px; /* Increase distance from the rest of the fields */
        display: flex;
        justify-content: center; /* Centers the button horizontally */
    }

    .submit-btn {
        background-color: #6c757d; /* Bootstrap grey color */
        border-color: #6c757d; /* Bootstrap grey color */
        color: white; /* Text color */
        width: 50%; /* Longer button width */
        padding: 10px 25px; /* Larger button padding */
    }

    /* Make the button full width on small screens */
    @media (max-width: 768px) {
        .submit-btn {
            width: 100%;
        }
    }

    .profile-page-container {
        position: relative;
        text-align: center;
    }
    .profile-cover {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .cover-edit-icon,
    .avatar-edit-icon {
        cursor: pointer;
        position: absolute;
        right: 10px;
        bottom: 10px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        border-radius: 50%;
    }
    .profile-avatar-container {
        position: absolute;
        bottom: -60px; /* Half the avatar's height to overlap */
        left: 50%;
        transform: translateX(-50%);
        border: 3px solid white;
        border-radius: 50%;
        padding: 6px;
        background: #fff;
    }
    .profile-avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    
</style>
{% endblock %}

{% block extra_js %}
<script>
    function changeCover(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.querySelector('.profile-cover').style.backgroundImage = 'url(' + e.target.result + ')';
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function changeAvatar(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.querySelector('.profile-avatar').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    document.getElementById('profileForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(this);
        
        // Replace URL with your form submission endpoint
        fetch('{% url 'users:edit_profile' %}', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if(data.success) {
                // Handle success
                alert(data.message); // Or update the UI accordingly
            } else {
                // Handle failure
                alert('Failed to update profile: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
        });
    });
</script>
{% endblock %}
