{% extends 'base.html' %}

{% block title %}Home -{% endblock %}

{% block content %}

<style>
    .responsive-poster {
        height: 300px;
        width: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
    }
    .responsive-poster:hover {
        transform: scale(1.1);
    }
    .card-custom {
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        position: relative;
        z-index: 1;
        border: none;
    }
    .card-custom:hover {
        z-index: 10;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }
    .card-body {
        text-align: center;
    }
    .card-title {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .card-text {
        font-size: 1rem;
    }
    .badge {
        font-size: 0.8rem;
    }
    .container {
        padding: 20px;
    }
</style>

<div class="container mt-5">
    <h1 class="visually-hidden">Movie Gallery for Film Fluency</h1> <!-- Invisible H1 for SEO and accessibility -->
    <p class="lead">Welcome to the Movie Gallery for Film Fluency. Here you can find a list of movies that you can watch and enjoy.</p>
    <div class="row">
        {% for movie in movies %}
        <div class="col-md-4 mb-4">
            <div class="card card-custom">
                <a href="{% url 'web:movie_detail' movie.random_slug %}" style="text-decoration: none; color: inherit;">
                    <img src="{{ movie.poster }}" alt="{{ movie.original_title }}" class="responsive-poster" type="image/webp">
                    <div class="card-body">
                        <h3 class="card-title">{{ movie.original_title }}</h3>
                        <p class="card-text">{{ movie.get_desc }}</p>
                        <p class="card-text">
                            <small class="text-muted">
                                <span class="badge bg-primary">{{ movie.rating }}</span>
                                <span class="badge bg-success">{{ movie.release_date }}</span>
                            </small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
