{% extends 'base.html' %}

{% block title %}Home -{% endblock %}

{% block content %}

<style>
  
   
    
    .responsive-poster {
        height: auto; /* Adjust height for mobile */
        width: 100%; /* Full width on small screens */
    }


    
    .ff-card-custom {
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    .ff-card-custom:hover {
        transform: scale(1.1);
        z-index: 10;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    
    .responsive-poster {
        height: 1024px;
        width: calc(1024px * 0.3); /* This calculates to 307.2px, but it will round to 307px */
        object-fit: cover; /* Ensures the image covers the defined area without distorting the aspect ratio */
        display: block; /* To remove any extra space below the image (common with inline-block elements) */
        margin: 0 auto; /* Optionally centers the image horizontally if within a container */
      }
      
    /* Style for custom buttons */
    .ff-btn-custom {
        background-color: #007bffa0;
        border-color: #007bff;
        color: white;
        transition: background-color 0.2s, border-color 0.2s;
    }
    .ff-btn-custom:hover {
        background-color: #0056b3;
        border-color: #004085;
        color: rgb(156, 101, 211);
    }

    /* Style for flag icons */
    .ff-flag-icon-custom {
        width: 32px;
        height: 32px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }
    .ff-flag-button {
        padding: 5px;
        margin: 0 5px;
    }

    /* Flexbox settings for button groups */
    .ff-btn-group, .ff-d-flex {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 20px auto;
    }

    /* Styles for main custom button */
    .btn-custom {
        background-color: #0056b3;
        border-color: #004095;
        color: #ffffff;
        padding: 8px 15px;
        border-radius: 4px;
    }
    .btn-custom:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

    /* Additional styles for alignment and display */
    .btn-group {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 20px auto;
    }
    .d-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container mt-5">
    <h1 class="visually-hidden">Movie Gallery for Film Fluency</h1> <!-- Invisible H1 for SEO and accessibility -->
    <h2 class="mb-3">{{ message }}</h2>
    
    <div class="btn-group mb-3" role="group" aria-label="Movie Sources">
        <a href="?source=trending" class="btn btn-custom {% if current_source == 'trending' %}active{% endif %}">Trending Movies</a>
        <a href="?source=latest_updated" class="btn btn-custom {% if current_source == 'latest_updated' %}active{% endif %}">Latest Updated Movies (With Videos Only)</a>
        <a href="?source=latest" class="btn btn-custom {% if current_source == 'latest' %}active{% endif %}">Latest Movies (With Transcripts Only)</a>
        <a href="?reset_preferences=true" class="btn btn-custom">Reset Preferences</a>
    </div>

    <div class="d-flex flex-wrap mb-3">
        {% for flag in unique_country_flag %}
        <a href="?source={{ current_source }}&country={{ flag }}" class="btn flag-button btn-outline-secondary {% if current_country == flag %}active{% endif %}" aria-label={{flag}}>
            <span class="flag-icon-custom fi fi-{{ flag|lower }}"></span>
        </a>
        {% endfor %}
    </div>

    <div class="row">
        {% for movie in movies %}
        <div class="col-md-4 mb-4">
            <div class="card card-custom">
                <a href="{% url 'web:movie_detail' movie.random_slug %}" style="text-decoration: none; color: inherit;">
                    <img src="{{ movie.poster }}" alt="{{ movie.original_title }}" class="responsive-poster" type="image/webp">
                    <div class="card-body">
                        <h3 class="card-title">{{ movie.original_title }}</h3>  <!-- Changed from h5 to h3 -->
                        <p class="card-text">{{ movie.get_desc }}</p>
                        <span class="flag-icon-custom fi fi-{{ movie.country_flag |lower }}"></span>
                        <p class="card-text">
                            <small class="text-muted">
                                <span class="badge bg-primary">{{ movie.rating }}</span>
                                <span class="badge bg-success">{{ movie.release_date }}</span>
                            </small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}