{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

<div class="container py-5">
    <div class="card user-card">
        <!-- Top area with a design similar to ds-top -->
        <div class="user-card-top"></div>
         <!-- Avatar header-->
         <figure class="figure">
            <img src={{user_profile.get_cover}} class="figure-img img-fluid rounded" alt="profile header for {{user_profile.nickname}}">
            <figcaption class="figure-caption">{{ user_profile.bio }}</figcaption>
          </figure>
        <!-- Avatar holder with user interaction -->
        <div class="avatar-holder text-center">
            <img src="{{ user_profile.get_avatar }}" alt="Profile Picture" class="rounded-circle">
        </div>

        <!-- User Information -->
        <div class="name text-center">
            <a href="#">{{ user_profile.nickname }}</a>
            <h6><i class="fas fa-users"></i> <span class="followers">{{ user_profile.friends.count }}</span> Followers</h6>
        </div>

        <!-- Action Button -->
        <div class="button text-center my-3">
            <button class="btn btn-primary" onmousedown="follow();">Follow <i class="fas fa-user-plus"></i></button>
        </div>

        <!-- Stats -->
        <div class="ds-info text-center">
            <div class="pens">
                <h6>Pens <i class="fas fa-edit"></i></h6>
                <p>{{ user_profile.posts.count }}</p>
            </div>
            <div class="projects">
                <h6>Projects <i class="fas fa-project-diagram"></i></h6>
                <p>{{ user_profile.projects.count }}</p>
            </div>
            <div class="posts">
                <h6>Posts <i class="fas fa-comments"></i></h6>
                <p>{{ user_profile.comments.count }}</p>
            </div>
        </div>

        <!-- Skills -->
        <div class="ds-skill">
            <div class="skill html">
                <h6><i class="fab fa-html5"></i> HTML5 </h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="skill css">
                <h6><i class="fab fa-css3-alt"></i> Movies Completed {{progress.watched_movies.count}} </h6>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="{{ progress.percentage_movies_completed }}%" aria-valuenow="{{ progress.percentage_movies_completed }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="skill javascript">
                <h6><i class="fab fa-js"></i> Average Complexity {{ progress.average_complexity }} </h6>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{percntage_complexity}}%" aria-valuenow="{{percntage_complexity}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <!-- More stats -->
        <div class="row text-center mt-4">
            <div class="col">
                <strong>{{ user_progress.points }}</strong> Total Points
            </div>
            <div class="col">
                <strong>{{ user_progress.user_level }}</strong> Level
            </div>
            <div class="col">
                <strong>{{ user_progress.highest_score }}</strong> High Score
            </div>
        </div>

        <!-- Bio and More -->
        <div class="text-center">
            {% if user_profile.country %}
            <strong>Country:</strong> <span class="flag-icon-custom fi fi-{{ user_profile.country|lower }}"> </span>
            {% else %}
            {% endif %}
            {% if user_profile.known_languages.all %}
            <strong>Languages Known:</strong>
            {% for language in user_profile.known_languages.all %}
            <span class="badge bg-secondary">{{ language.name }}</span>
            {% endfor %}
            {% else %}
            <p class="text-center text-muted"> please edit your fav language</p>
            {% endif %}
        </div>
    </div>

    <!-- User's edit profile  -->

    <a href="{% url 'users:edit_profile' %}" class="btn btn-primary mt-3">Edit Profile</a>


</div>

<script>
    const follow = () => {
        const btn = document.querySelector('.btn');
        const followers = document.querySelector('.followers');
        let currentFollowers = parseInt(followers.textContent);

        btn.classList.toggle('following');
        if (btn.classList.contains('following')) {
            btn.innerHTML = 'Following <i class="fas fa-user-times"></i>';
            currentFollowers++;
        } else {
            btn.innerHTML = 'Follow <i class="fas fa-user-plus"></i>';
            currentFollowers--;
        }

        followers.textContent = currentFollowers;
    };
</script>

{% endblock %}
