{% extends 'base.html' %}

{% block title %}{{ video.movie }} - Film Fluency{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mb-3">
            <div class="ratio ratio-16x9">
                <iframe src="{{ video.video_url }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <h2>{{ video.movie }}</h2>
            <hr>
            <p><strong>Complexity:</strong> {{ video.complexity }}</p>
            <p><strong>Length:</strong> {{ video.length }} seconds</p>
                        
            <a href="{{ video.audio_url }}" class="btn btn-primary">Listen to Audio</a>
            <a href="{{ video.transcript_url }}" class="btn btn-secondary">Read Transcript</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>Transcript</h3>
            <pre class="bg-light p-3 rounded">{{ video.transcript }}</pre>
        </div>
    </div>
</div>
{% endblock %}
