{% extends 'base.html' %}

{% block title %}{{ title }} Videos{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if  isitmovie %}
    <h1>{{ title }}</h1>
    {% endif %}    
<!-- Complexity filter slider -->
    {% if not isitmovie %}
    <h3>Videos with complexity of >= {{ title }}</h3>

    <div class="mb-3">
        <label for="complexityRange" class="form-label">Minimum : {{ lowest_complexity }}</label>
        <label for="complexityRange" class="form-label">Maximum : {{ highest_complexity }}</label>
        <input type="range" class="form-range" min="{{lowest_complexity}}" max="{{highest_complexity}}" value="{{ title }}" id="complexityRange" onchange="updateComplexity(this.value)">
    </div>
    {% endif %}
    <div class="row">
        {% for video in videos %}
        <div class="col-md-6">
            <a href="{% url 'web:video_detail' video.random_slug %}" class="list-group-item list-group-item-action">
                <div class="video-item d-flex align-items-center">
                    <img src="{{ video.thumbnail_url }}" alt="{{ video.movie.original_title }}" class="img-fluid" style="width: 100%; height: auto; max-height: 200px; object-fit: cover;">
                    <div class="video-info ms-3">
                        <h6>{{ video.length }} S⏱️</h6>
                        <p>{{ video.complexity }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <div class="col-12">
            <p>No videos found.</p>
        </div>
        {% endfor %}
    </div>
    <div class="pagination mt-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if videos.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1&lowest_complexity={{ lowest_complexity }}">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ videos.previous_page_number }}&lowest_complexity={{ lowest_complexity }}">Previous</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link">{{ videos.number }}</a></li>
                {% if videos.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ videos.next_page_number }}&lowest_complexity={{ lowest_complexity }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ videos.paginator.num_pages }}&lowest_complexity={{ lowest_complexity }}">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% if not isitmovie %}

<script>
    function updateComplexity(value) {
        window.location.href = '{% url 'learning:videos_by_complexity' %}?lowest_complexity=' + value;
    }
</script>
{% endif %}

{% endblock %}
