{% extends 'base.html' %}

{% block title %}{{ video.movie.original_title }} - Film Fluency{% endblock %}

{% block content %}
<style>
    #transcriptContent, #loadingMessage {
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        border-radius: 0.25rem;
        padding: 1rem;
        margin-top: 1rem;
        display: none; /* Initially hidden */
        font-size: 1.2rem;
        line-height: 1.5;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    #loadingMessage {
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000; /* High z-index */
        display: block; /* Show loading message initially */
    }

    .btn-custom {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 0.4rem 0.8rem;
        border-radius: 0.25rem;
        font-size: 0.9rem;
        transition: all 0.3s ease;
    }

    .btn-custom:hover {
        background-color: #0056b3;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .btn-custom:active {
        background-color: #004085;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .audio-control-panel {
        text-align: center;
    }
</style>

<div id="loadingMessage">Loading media...</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mb-3">
            <div class="video-container">
                <div class="ratio ratio-16x9">
                    <video id="videoPlayer" controls preload="auto" class="w-100">
                        <source id="videoSource" type="video/mp4">
                        Sorry, your browser does not support embedded videos.
                    </video>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <a href="{% url 'learning:videos_by_movie' video.movie.random_slug %}">
            <h2>{{ video.movie.original_title }}</h2>
            <hr>
            </a>
            <p><strong>Complexity:</strong> {{ video.complexity }}</p>
            <p><strong>Length:</strong> {{ video.length }} seconds</p>
            <audio id="audioPlayer" controls preload="none" class="w-100">
                <source id="audioSource" type="audio/wav">
                Sorry, your browser does not support embedded audio.
            </audio>
            <div class="audio-control-panel">
                <button onclick="restartMedia('videoPlayer')" class="btn btn-primary btn-custom">Replay Video</button>
                <button onclick="restartMedia('audioPlayer')" class="btn btn-primary btn-custom">Replay Audio</button>
                <button id="transcriptButton" class="btn btn-success btn-custom">Toggle Transcript</button>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div id="transcriptContent">
                    <pre>{{ video.transcript|safe }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const videoPlayer = document.getElementById('videoPlayer');
        const audioPlayer = document.getElementById('audioPlayer');
        const videoSource = document.getElementById('videoSource');
        const audioSource = document.getElementById('audioSource');
        const loadingMessage = document.getElementById('loadingMessage');

        function fetchMediaSource(mediaElement, sourceElement, mediaUrl) {
            fetch(`/api/secure-media/${mediaUrl}/`)
                .then(response => response.json())
                .then(data => {
                    console.log(data.url);
                    sourceElement.src = data.url;
                    mediaElement.load();
                    mediaElement.oncanplaythrough = () => {
                        loadingMessage.style.display = 'none';
                    };
                })
                .catch(error => console.error('Error fetching the secure media URL:', error));
        }

        fetchMediaSource(videoPlayer, videoSource, "{{ video.video_url }}");
        fetchMediaSource(audioPlayer, audioSource, "{{ video.audio_url }}");

        document.getElementById('transcriptButton').addEventListener('click', function() {
            var transcriptContent = document.getElementById('transcriptContent');
            transcriptContent.style.display = transcriptContent.style.display === 'none' ? 'block' : 'none';
            if (transcriptContent.style.display === 'block') {
                transcriptContent.scrollIntoView({ behavior: 'smooth' });
            }
        });
    });

    function restartMedia(mediaId) {
        const mediaElement = document.getElementById(mediaId);
        mediaElement.currentTime = 0;
        mediaElement.play();
    }
</script>
{% endblock %}
